In [1]:
import pandas as pd


# Import CSV of fitbit weartime using heartrates
df = pd.read_csv('fitbitWearTimeViaHR_merged.csv')

In [2]:
df

        Id        Day  TotalMinutesWearTime  PercentageWearTime
0    53211  8/11/2024                     0            0.000000
1    53211  8/12/2024                     0            0.000000
2    53211  8/13/2024                     0            0.000000
3    53211  8/14/2024                     0            0.000000
4    53211  8/15/2024                     0            0.000000
..     ...        ...                   ...                 ...
347  53917   9/7/2024                  1440          100.000000
348  53917   9/8/2024                  1440          100.000000
349  53917   9/9/2024                  1440          100.000000
350  53917  9/10/2024                  1440          100.000000
351  53917  9/11/2024                   660           45.833333

[352 rows x 4 columns]