In [1]:
import pandas as pd


# Import CSV of fitbit weartime using heartrates
df = pd.read_csv('fitbitWearTimeViaHR_merged.csv')

In [2]:
df

        Id        Day  TotalMinutesWearTime  PercentageWearTime
0    53211  8/11/2024                     0            0.000000
1    53211  8/12/2024                     0            0.000000
2    53211  8/13/2024                     0            0.000000
3    53211  8/14/2024                     0            0.000000
4    53211  8/15/2024                     0            0.000000
..     ...        ...                   ...                 ...
347  53917   9/7/2024                  1440          100.000000
348  53917   9/8/2024                  1440          100.000000
349  53917   9/9/2024                  1440          100.000000
350  53917  9/10/2024                  1440          100.000000
351  53917  9/11/2024                   660           45.833333

[352 rows x 4 columns]

In [8]:
# For each entry with less than 50% wear time, return that Id in a csv

# 5/7 days worn (Consecutively?) 
# Percent daily?

# Return Ids and personalized message? (Can be good or bad messages)
# Personalized weartime? Days and mean weartime.
# Didn't wear at all
# Sync Events >3 days of no weartime?


# Reminder-return stats and binary good vs bad message

# In this case, if wear time is less than 50%, put them on the list!
reminder_df = df[df['PercentageWearTime'] < 50]
reminder_df

        Id        Day  TotalMinutesWearTime  PercentageWearTime
0    53211  8/11/2024                     0            0.000000
1    53211  8/12/2024                     0            0.000000
2    53211  8/13/2024                     0            0.000000
3    53211  8/14/2024                     0            0.000000
4    53211  8/15/2024                     0            0.000000
..     ...        ...                   ...                 ...
331  53917  8/22/2024                     0            0.000000
332  53917  8/23/2024                     0            0.000000
333  53917  8/24/2024                     0            0.000000
334  53917  8/25/2024                     0            0.000000
351  53917  9/11/2024                   660           45.833333

[227 rows x 4 columns]

In [9]:
reminder_df_ids = reminder_df[['Id']]
reminder_df_ids

        Id
0    53211
1    53211
2    53211
3    53211
4    53211
..     ...
331  53917
332  53917
333  53917
334  53917
351  53917

[227 rows x 1 columns]

In [10]:
reminder_list = 'reminder_ids.csv'
reminder_df_ids.to_csv(reminder_list, index=False)